.contador-container {
  display: grid; 
  align-items: center; 
  justify-content: center;
}

.contador {
  background-color: #f0db4f;
  min-width: 300px;
  cursor: pointer;
  user-select: none ;
  height: 300px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  text-align: center;
  font-size: 70px;
  color: #323330;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
